<h1>Dog Breeds</h1>

<%= form_with url: search_breeds_path, method: :get do %>
  <%= label_tag :query, "Search for a breed:" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<div class="row gx-0">
  <% @breeds.each do |breed| %>
    <div class="col-md-4 p-0">
      <div class="breed-item">
        <h2><%= link_to breed.name, breed_path(breed) %></h2>
        <img src="<%= breed.images.first.url %>" alt="<%= breed.name %>" class="img-fluid breed-img">
      </div>
    </div>
  <% end %>
</div>

<!-- add pagination controls -->
<div class="pagination">
  <%= paginate @breeds %>
</div>
