<h1>Search Results</h1>

<!-- Back to Home Button -->
<div class="back-button">
  <%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %>
</div>

<!-- Check if any breeds were found -->
<% if @breeds.any? %>
  <div class="row gx-0">
    <% @breeds.each do |breed| %>
      <div class="col-md-4 p-0">
        <div class="breed-item">
          <h2><%= link_to breed.name, breed_path(breed) %></h2>
          <img src="<%= breed.images.first.url %>" alt="<%= breed.name %>" class="img-fluid breed-img">
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No breeds found.</p>
<% end %>

<!-- Pagination (if applicable) -->
<div class="pagination">
  <%= paginate @breeds %>
</div>
